[Desktop Entry]
Type=Application
TryExec=terminex
Exec=terminex
Icon=/opt/terminex/icons/terminex-circle.png
Terminal=false
Categories=System;TerminalEmulator;

Name=Terminex
GenericName=Terminal
Comment=A intuitive, simple and cross-platform terminal made using JS
StartupWMClass=Terminex
Actions=New;

X-Desktop-File-Install-Version=0.1

[Desktop Action New]
Name=New Terminal
Exec=terminex
